<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694579995875-2crk92c1r7qc048mt6mf8ntdg08r4c97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694579995875-2crk92c1r7qc048mt6mf8ntdg08r4c97</string>
	<key>API_KEY</key>
	<string>AIzaSyCAexxfh5KVSyAfEwb4rkrqWTdeDYK1fQk</string>
	<key>GCM_SENDER_ID</key>
	<string>694579995875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>quyendang.GhiPhatBieu</string>
	<key>PROJECT_ID</key>
	<string>appxinxo</string>
	<key>STORAGE_BUCKET</key>
	<string>appxinxo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694579995875:ios:8fd703e3a910f22503d1d6</string>
	<key>DATABASE_URL</key>
	<string>https://appxinxo-default-rtdb.firebaseio.com</string>
</dict>
</plist>